<html>
  <head>
    <title>Hello from Puppet!</title>
  </head>
  <body>
    <h1>Hello World, Puppet is Fun!</h1>
    I hope you’re having as much fun reading this as I had writing it!
  </body>
</html>
